.git
.gitignore
.env
.env.example
node_modules
npm-debug.log
README.md
.editorconfig
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
.php_cs
.php_cs.cache
tests
.github
coverage
docker-compose.yml
Dockerfile
.dockerignore
.gitattributes
.styleci.yml
.prettierrc.json
.prettierignore
package.json
package-lock.json
webpack.mix.js
tailwind.config.js
postcss.config.js
